:root {
  --size: 20px;
  --big: 1.45rem;
  --biggest: 2.8rem;
  --font: sans-serif;
  --logo-font: "Open Sans", sans-serif;
  --thinnest: 50;
  --letter-spacing-xl: 0.32rem;
  --line-height-bigger: 31px;

  --spacing-sm: 0.3rem;

  --light-grey: #aaa;
  --dark-grey: #666;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  color: var(--dark-grey);
  font-family: var(--font);
  font-size: var(--size);
  margin: 0 var(--spacing-sm);
}
footer {
  margin-top: auto;
  padding: 5.5rem 0 2.5rem;
  text-align: center;
}

h1 {
  font-size: var(--biggest);
  font-weight: var(--thinnest);
}
