:root {
  --size: 20px;
  --bigger: 1.4rem;
  --big: 2.7rem;
  --font: sans-serif;
  --logo-font: 'Open Sans', sans-serif;
  --thinnest: 50;
  --widest-letter-spacing: 0.32rem;

  --spacing-sm: 0.3rem;

  --light-grey: #999;
  --dark-grey: #444;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: var(--dark-grey);
  font-family: var(--font);
  font-size: var(--size);
  margin: 0 var(--spacing-sm);
}
footer {
  text-align: center;
}

h1 {
  font-size: var(--big);
  font-weight: var(--thinnest);
}