.logo-text {
  color: var(--light-grey);
  font-family: var(--logo-font);
  letter-spacing: var(--letter-spacing-xl);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20vmin;
}
.hero-text {
  font-size: var(--big);
  line-height: var(--line-height-bigger);
  margin-top: 3.6rem;
}