:root {
  --font-sz: 20px;
  --bigger: 1.1rem;
  --biggest: 2.7rem;
  --font: sans-serif;
  --logo-font: 'Open Sans', sans-serif;
  --thinnest: 50;
  --widest-letter-spacing: 0.32rem;

  --light-grey: #999;
  --dark-grey: #444;
}

html {
  color: var(--dark-grey);
  font-family: var(--font);
  font-size: var(--font-sz);
}
body {
  margin: 0;
}

h1 {
  font-size: var(--biggest);
  font-weight: var(--thinnest);
}

.logo-text {
  color: var(--light-grey);
  font-family: var(--logo-font);
  letter-spacing: var(--widest-letter-spacing);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20vmin;
}
.hero-text {
  font-size: var(--bigger);
  margin-top: 3.5rem;
}