:root {
  --font-size: 20px;
  --biggest: 2.7rem;
  --logo-font: 'Open Sans', sans-serif;
  --thinnest: 50;
  --widest-letter-spacing: 0.32rem;

  --light-grey: #999;
  --black: #444;
}

html {
  color: var(--black);
  font-size: var(--font-size);
}
body {
  margin: 0;
}

h1 {
  font-size: var(--biggest);
  font-weight: var(--thinnest);
}

.logo-text {
  color: var(--light-grey);
  font-family: var(--logo-font);
  letter-spacing: var(--widest-letter-spacing);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}