:root {
  --font-size: 20px;
  --biggest: 2.7rem;
  --logo-font: 'Open Sans', sans-serif;
  --thinnest: 50;
  --widest-letter-spacing: 0.32rem;
}

html {
  font-size: var(--font-size);
}

h1 {
  font-size: var(--biggest);
  font-weight: var(--thinnest);
}

.logo-text {
  font-family: var(--logo-font);
  letter-spacing: var(--widest-letter-spacing);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}